@import "bootstrap/dist/css/bootstrap.min.css";

body{
    background: white;
}
.honk {
  font-family: "Honk", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "MORF" 18,
    "SHLN" 50;
}
.nabla {
  font-family: "Nabla", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "EDPT" 100,
    "EHLT" 12;
}
h1{
    font-family: Honk;
    font-size: 50px;

}
p{
    font-family: nabla;
    font-size: 25px;
}